@inject HttpClient httpClient

@foreach (var item in applicationUserDTOs)
{
    <p>@item.UserName</p>
}

@foreach (var item in energyRessourceDTOs)
{
    <p>@item.Source</p>
}
<CreateEnergyRessourceComponent/>

@code{
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private List<ApplicationUserDTO> applicationUserDTOs = new List<ApplicationUserDTO>();
    private List<EnergyRessourceDTO> energyRessourceDTOs = new List<EnergyRessourceDTO>();

    protected override async Task OnInitializedAsync()
    {
        applicationUserDTOs = await httpClient.GetFromJsonAsync<List<ApplicationUserDTO>>("/api/applicationUser/all");
        energyRessourceDTOs = await httpClient.GetFromJsonAsync<List<EnergyRessourceDTO>>("/api/energyRessource/allOffers");
    }
}
