@inject HttpClient httpClient

<div class="userInfoComponentContainer">
    <div class="header">
        <h5>Your Tokens: @currentUserDTO.Tokens</h5>
        @*<select>
            @foreach (var item in (DateTime.Now.AddDays(35) - DateTime.Now).Days)
	        {
		        <option>@item.</option>
	        }
        </select>*@
    </div>
    @*<div class="calender">

    </div>*@
</div>

@code{
    [Parameter]
    public HubConnection HubConnection { get; set; }

    private ApplicationUserDTO currentUserDTO = new ApplicationUserDTO();

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    public async Task Refresh()
    {
        currentUserDTO = await httpClient.GetFromJsonAsync<ApplicationUserDTO>("/api/applicationUser");
    }
}
