@inherits LayoutComponentBase

<style>
    .page{
        height: 100vh;
    }
    nav {
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    main{
        padding: 5px;
    }
</style>

<div class="page">
    <nav>
        <LoginDisplay />
    </nav>
    <main>
        @Body
    </main>
</div>
