.page {
    height: 100vh;
    color: white;
}

nav {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: radial-gradient(circle at 78% 15%, rgba(162, 0, 232, 1) 7%, rgba(93, 0, 133, 1) 63%);
}

main {
    padding: 5px;
}
nav{
    padding-right: 15px;
}
main{
    padding: 15px;
    height: calc(100% - 110px);
}