<div class="card">
    <div class="card-body">
        @Node.Ressource.Name 
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>


@code{
    [Parameter]
    public ConsumeRessourceNode Node { get; set; }
}
