@inject HttpClient httpClient

<div class="card">
    <div class="card-body">
        @if(kWh < 0)
        {
            <label>You need to buy: @(- kWh) kWh</label>
        }
        else if(kWh > 0)
        {
            <label>You can consume: @kWh kWh</label>
        }
        else
        {
            <label>Lets consume green energy!</label>
        }
        <AuthorizeView>
            <img width="70" src="@context.User.Claims.First(c => c.Type == "picture").Value" />
        </AuthorizeView>
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>


@code{
    [CascadingParameter(Name = "hubConnection")]
    public HubConnection hubConnection { get; set; }

    [Parameter]
    public UserNode Node { get; set; }

    public decimal kWh;

    protected override async Task OnInitializedAsync()
    {
        Node.Update += (s) =>
        {
            kWh += s;
            Console.WriteLine(s);
            StateHasChanged();
        };
    }
}